<IfModule mod_rewrite.c>
    RewriteEngine   On
    RewriteBase     /~ziomq1991/www/cake/spiewnik/
    RewriteCond     %{REQUEST_FILENAME} !-d
    RewriteCond     %{REQUEST_FILENAME} !-f
    RewriteRule     ^(.*)$ index.php [QSA,L]
</IfModule>
